/* .kg-item{
  background-color: khaki;
  color: blueviolet;
}
.kg-span{
  background-color: aqua;
  color:blue;
  font-weight: 500;
}
.food-heading{
  background-color: bisque;
  color: blueviolet;

} */

.inputBox{
  font-size: 23px;
}